@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/subsets/Paperlogy-dynamic-subset.css");

.main{
  display: flex;
}
.page {
  min-height: 100vh;
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f39733;
  font-family: "Paperlogy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 3px;
  width: 100vw;
  margin-left: calc(50% - 50vw);

}

.img {
    border-radius: 10px;
    max-width: 11rem;
    align-self: center;
    padding-bottom: 1.5rem;
}

/* 카드 */
.card {
  width: 80%;
  max-width: 500px;
  background: #eaeaea;
  border-image: linear-gradient(#eaeaea, #f39733);
  border-image-slice: 1;
  border-radius: 6px;
  padding:  3% 5% 3% 5%; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 3px 3px #555555
}

/* 헤더 */
.header {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  font-family: "LH", sans-serif;
  font-weight: 750; /* Bold */
  color: #63656A;
}

.subtitle {
  font-size: 13px;
  color: #666;
  margin-top: 4px;
}

/* form */
.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 6px;
  color: #63656A;
}

/* input */
.input {
  padding: 10px;
  border: 1px solid #63656A;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #63656A;
}

.input:focus {
  border-color: black;
}

/* 버튼 (핵심) */
.button {
  margin-top: 18px;
  padding: 10px;
  background-color: #63656A;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-size: 14px;
}

/* hover */
.button:hover {
  opacity: 0.85;
}

/* 클릭 느낌 */
.button:active {
  transform: scale(0.98);
}

.px-4 {
  padding-inline: 0;
}
.google-btn {
  width: 380px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  background: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 9999px;

  color: #3c4043;
  font-size: 20px;
  font-weight: 500;

  cursor: pointer;

  transition: all 0.15s ease;
}

.google-btn:hover {
  background: #f8f9fa;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
}

.google-btn:active {
  background: #f1f3f4;
}

.google-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}